body {
    width: 100vw;
}

.navbar {
    background: #EBEBEE;
    opacity: .8;
    position: sticky;
    top: 0px;
    z-index: 100; 
    width: 100%;
}

.nav-link:hover {
    background-color: #434343;
    color: #ECE2B2;
    padding: 20px;
    border-radius: 5px;
}

nav a {
    color: #434343;
}

nav a:hover {
    background-color: #434343;
    color: #ECE2B2;
    padding: 20px;
    border-radius: 5px;
}

.heading {
    font-size: 36px;
    border-bottom: solid 2px #000000;
    border-radius: 2px;
    margin: 3% auto;
}

.hide {
    display: none;
}

.background {
    background-image: linear-gradient(45deg, #434343, #000000);
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    justify-content: center;
}

.home-card {
    color: #EBEBEE;
    letter-spacing: 2.5px;
}

h1 {
    font-size: 52px !important;
}

.h3 {
    font-size: 38px !important;
    color: #ECE2B2;
}

h5 {
    font-size: 26px !important;
}

.btn{
    border: #ECE2B2 solid 1px;
    border-radius: 30px;
    color: #ECE2B2;
    background-color: #434343;
}

.btn:hover {
    background-color: #505050;
    color: #ECE2B2;
    border: black solid 1px;
}

.btn:focus {
    outline: 0;
}

img {
    border-radius: 40px;
    height: 280px;
}

.container-fluid {
    width: 90%;
}

.about-me-section {
    /* background-color: #eee; */
    border-radius: 10px;
}

.about-me {
    width: 85%;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 50px;
    background-image: linear-gradient(45deg, #434343, #000000);
    color: #EBEBEE;
}

.about-title {
    font-size: 28px;
    margin-left: 10px;
    border-bottom: solid 2px black;
    letter-spacing: .04rem;
    color: #ECE2B2;
}

.about-me-p {
    line-height: 1.6rem;
    letter-spacing: .03rem;
    text-align: left;
    font-size: 18px;
}

hr {
    margin-top: 20px;
    margin-bottom: 60px;
    border: 2px solid #000000;
    border-radius: 2px;
}

.hash {
    font-size: 25px;
    color: #FFA9C4;
}

.portfolio {
    border: 1px solid black;
    padding: 25px;
    border-radius: 10px;
}

.carousel-card {
    height: 40rem;
    border-radius: .5%;
    border: 10px solid black;
}

.carousel-name {
    margin-right: 20px;
}  

.carousel-btns:hover {
    color: #434343;
}

.fa-arrow-alt-circle-left , .fa-arrow-alt-circle-right {
    font-size: 4rem;
    color: #ECE2B2;
}

.form {
    display: grid;
    place-items: center;
}

.label {
    font-size: 20px;
    font-weight: 600%;
    height: 10px;
}

.form-control {
    height: 47px;
}

.form-group {
    width: 85% !important;
}


#submitBtn {
    margin-left: 82px;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    main {
        width: 99% !important;
    }

    .img-responsive {
        width: 100%;
        margin: auto;
    }

    img {
        height: 230px;
    }

    .about-me {
        margin: 5px !important;
        width: 90% !important;
    }
    
    .about-me-last {
        margin-bottom: 15px !important;
    }

    .carousel-btns {
        font-size: 2.5rem;
        width: 60px;
    }
    
    .carousel-name {
        font-size: 1.5rem;
    }  

    .carousel-card {
        height: 396px;
    }

    .form-group {
        width: 170% !important;
    }

    #submitBtn {
        margin-left: 70px;
    }    
}

@media screen and (max-width: 320px) {
    .carousel-name {
        font-size: 1.3rem;
    }  
}